.btn {
    background-color: $color-navy;
    border-radius: 25px;
    border: none;
    color: $color-white;
    margin: auto 2rem;
    width: 5rem;
    height: 5rem;
    transition: all .2s;

    &:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 2rem 3rem rgba($color-black, 0.2);
    }

    &:active {
        transform: translateY(0);
    }
}