.input-section {
    height: 9rem;
    background-color: $color-white;
    border-radius: 55px;
    display: flex;
    flex-direction: row;
    margin: 3rem auto 0 auto;
    padding: .6rem 0;
    z-index: 2;
    
    .input {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0 2rem 0 1rem;
        margin: 1rem  1rem;
        min-width: 25rem;
        position: relative;

        &:first-child {
            margin-left: 20px;
        }

        &--1,
        &--2 {
            border-right: 2px solid $color-grey-light;
        }

        &-title {
            margin-bottom: .6rem;
        }

        &-city {
            border: hidden;
            background-color: transparent;

            &:focus {
                outline: none;
                border-bottom: 3px solid $color-navy;
            }

        }

        &::after {
            content: "";
            display: inline-block;
            height: 175%;
            width: 110%;
            position: absolute;
            top: -2rem;
            left: -2rem;
            z-index: -1;
            overflow: hidden;
            border-radius: 5rem;
            transition: all .2s;
        }

        &:hover {
            background-color: transparent;
            cursor: pointer;       
            // border-right: 2px solid $color-white;

            &::after {
                background-color: $color-grey-light;
                transform: translateY(-.05px);
                box-shadow: 0 2.5rem 3rem rgba($color-black, .2);
            }
        }

        
    }
}

/* Style for Placeholder Text*/
input::placeholder {
    /* Firefox, Chrome, Opera */


    &:hover {
        background-color: $color-grey-light;
    }
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: $color-grey-medium;
    font-size: 1.5rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-grey-light;
    font-family: $font-opensans;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-grey-light;
    font-family: 'Open Sans', sans-serif;
}

