.input-section {
    height: 8rem;
    background-color: $color-white;
    border-radius: 55px;
    display: flex;
    flex-direction: row;
    margin: 30px auto 0 auto;
    padding: 10px;
    z-index: 2;
    

    .input {
        display: flex;
        flex-direction: column;
        border: none;

        // height: 30px;
        padding-right: 20px;
        margin: 10px;
        min-width: 25rem;
        padding-left: 3px;
        position: relative;

        &--1,
        &--2 {
            border-right: 2px solid $color-grey-light;
        }

        .city-title {
            margin-bottom: 1rem;
        }

        .city-input {
            height: 2rem;
            border: hidden;
            background-color: transparent;
        }

        &::before {
            content: "";
            display: inline-block;
            height: 200%;
            width: 110%;
            position: absolute;
            top: -2rem;
            left: -2.2rem;
            overflow: hidden;
        }

        &::after {
            content: "";
            display: inline-block;
            height: 200%;
            width: 108%;
            position: absolute;
            top: -2rem;
            left: -2rem;
            z-index: -1;
            overflow: hidden;
            border-radius: 5rem;
        }

        &:hover {
            background-color: transparent;
            cursor: pointer;       
        
            &::before {
                border-left: 2px solid $color-white;
                border-right: 2px solid $color-white;
            }


            &::after {
                background-color: $color-grey-light;
            }
        }

        &--1:hover {
            &::before {
                border-left: none;
                border-right: 2px solid $color-white;
            }
        }

       
    }
}

/* Style for Placeholder Text*/
input::placeholder {
    /* Firefox, Chrome, Opera */
    background-color: transparent;
    color: $color-grey-medium;
    font-family: $font-opensans;
    border: none;
    font-size: 1.5rem;

    &:hover {
        background-color: $color-grey-light;
    }
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: $color-grey-medium;
    font-size: 1.5rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-grey-light;
    font-family: $font-opensans;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-grey-light;
    font-family: 'Open Sans', sans-serif;
}
