.result {
    z-index: 1;
    width: 70%;
    height: 100%;
    margin: 5rem auto;
    padding-top: 1rem;
    opacity: 1;

    &--container {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 90%;
        background-color: rgba($color-white, .8);
        margin: auto 10%;
        z-index: 1;
        position: relative;

        .where {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }
        .result-text-container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-evenly;

            .result-text {
                color: $color-grey-dark;
                margin: auto 1rem;
                min-height: 3rem;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.5rem;
            }

            ul {
                list-style: none;
            }

            &:last-child {
                img {
                    transform: scale(.7);
                    display: inline;
                    margin-bottom: -4rem;
                }
            }
        }
        
        .result-img {
            display: block;
            width: 50%;
        }
    }
}