.result {
    z-index: 1;
    width: 80%;
    height: 100%;
    margin: 5rem auto;
    padding-top: 1rem;
    opacity: 0;

    &--container {
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        height: 90%;
        background-color: rgba($color-grey-dark, .8);
        margin: auto 10%;
        z-index: 1;

        .result-text-container {
            padding-top: 3rem;
            display: flex;
            flex-direction: column;

            .result-text {
                margin: auto 1rem;
                min-height: 3rem;

            }
        }
        
        .result-img {
            backface-visibility: hidden;
            display: block;
            width: 50%;
        }
    }
}

.weather-img {
    transform: scale(.7);
    display: inline;
    margin-bottom: -4rem;
}