$color-base: #ffe8e8;
$color-brown-light: #f7f2e9;
$color-grey-light: #ebebeb;
$color-grey-medium: #929292;
$color-grey-dark: #393e46;
$color-white: #fff;
$color-pink: #FC3C60;
$color-pink-dark: #d91965;

$font-sacramento: 'Sacramento', cursive;
$font-opensans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;