@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/input";
@import "components/result";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/main";

@media (max-width: 1090px) {
  body {
    width: 100vw;
    height: auto;
    // display: grid;
    // grid-template-rows: 8rem min-height 10rem;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    font-size: 3rem;
  }

  .holder {
    margin-left: 1.5rem;
  }
  .main-content {
    display: block;
    height: auto;
    .input-section {
      height: auto;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      margin: 1rem;

      .input {
        margin-left: 0;
      }
      button {
        margin: auto;
      }
    }
    .result--container {
      display: block;
    }

    .result-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;

      .result-text-container {
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #e3e0cf;
        font-size: 0.8em;
        bottom: 300px;
        display: grid;
        top: 0;
        margin: 0;
        margin-top: 10px;
        opacity: 1;
        padding-left: 30px;

        #city-image {
          max-height: 100%;
        }

        #period {
          font-size: 1.5rem;
        }

        #count-down {
          font-size: 1.5rem;
        }

        #location {
          font-size: 3rem;
        }

        #city-info {
          height: auto;
          padding-left: 0;
          border: none;
          margin: 0;
        }

        #lat-lon {
          padding-left: 0;
          font-size: 1.3em;
          text-align: left;
          margin-bottom: 0.2rem;
        }

        #weather {
          padding-left: 0;
          font-size: 1.3em;
          margin-top: 0;
        }
      }
      .result-img {
        width: 100%;
      }
      .result-text {
        color: #5a7670;
      }
    }
  }

  footer {
    display: block;
    margin-bottom: 30px;
  }
}
