@import 'config';









footer {
    margin: 0 auto;
}


input {
    border: none;
    font-size: 1em;
    height: 30px;
    margin-top: 5px;
    padding-left: 3px;
}

/* Style for Placeholder Text*/
input::placeholder {
    /* Firefox, Chrome, Opera */
    color: $grey;
    font-family: 'Open Sans', sans-serif;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: $grey;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $grey;
    font-family: 'Open Sans', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $grey;
    font-family: 'Open Sans', sans-serif;
}

@media(max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: brown;
        font-size: 2rem;
    }

    .main-content {
        display: block;

        .input-section {
            display: flex;
            flex-direction: column;

            button {
                margin: auto;
            }
        }

        .result-section {
            display: flex;
            flex-direction: column;
            margin: 0;
            min-height: 100vh;

            #beach-img {
                height: 0;
                position: absolute;
            }

            #entry-holder {
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
                font-size: 0.8em;
                bottom: 300px;
                display: grid;
                top: 0;
                margin: 0;
                margin-top: 10px;
                opacity: 1;
                padding-left: 30px;

                #city-image {
                    grid-column: span 1;
                    grid-row: 1fr;
                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                }

                #period {
                    font-size: 1.5rem;

                }

                #count-down {
                    font-size: 1.3rem;
                }

                #location {
                    font-size: 2rem;
                }

                #city-info {
                    padding-left: 0;
                }

                #lat-lon {
                    padding-left: 0;
                    font-size: 1.3em;
                }

                #weather {
                    padding-left: 0;
                    font-size: 1.3em;
                }
            }
        }
    }

    footer {
        margin-bottom: 30px;
    }
}