.header {
    font-family: $font-sacramento;
    font-size: 5.5rem;
}

.input {
    font-family: $font-roboto;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;

    &-city {
        font-size: 1.5rem;
    }

    &::placeholder {
        color: $color-grey-medium;
        font-family: $font-opensans;
        border: none;
        font-size: 1.5rem;
    }
}

.result-text {
    color: $color-white;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;

    &:first-child {
        margin-top: 2rem;
    }
}

.city-info {
    list-style: none;
    li {
        font-size: 1.5rem;
    }
    &-list-1 {
        margin-top: 3rem;
    }
}

.footer {
    font-size: 2rem;
}

#count-down {
    font-style: italic;
}

#location {
    font-size: 2.8rem;
    font-family: 'Sail', cursive;
}

#lat-lon,
#weather {
    text-decoration: none;
}